header{
  border-bottom: 1px solid grey;
  height: 200px;
}

#wrap{
  width:100%; /*Spans the width of the page*/
  height: 50px;
  clear: both;
}

ul#nav{
  float: left;
  width: 100%;
  padding:0;
  margin:0;
  list-style: none;
  background: #366b82 url(../img/menu-parent.png) repeat-x;
  -moz-border-radius-topright: 10px;
 -webkit-border-top-right-radius: 10px;
 -moz-border-radius-topleft: 10px;
 -webkit-border-top-left-radius: 10px;
}
ul#nav li{
    display: inline;
  }

ul#nav li a{
    float: left;
    line-height: 50px;
    margin: 0;
    padding: 0 30px; /* Adds a padding on the top and bottom so the text appears
                      centered vertically*/
                    of blue than the background. Combined with the left border*/
    text-decoration: none; /*Removes the default hyperlink styling*/
    background: #366b82 url(../img/menu-parent.png) repeat-x;
    color: white; /* Text color is white */
    -moz-border-radius-topright: 10px;
   -webkit-border-top-right-radius: 10px;
   -moz-border-radius-topleft: 10px;
   -webkit-border-top-left-radius: 10px;

  }

  ul#nav .current a, ul#nav li:hover > a  {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #330000;
    background: #54879d;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}
  ul#nav  ul {
    display: none;
  }

  ul#nav li:hover > ul {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    margin: 40px 0 0 0;
    /*submenu backgound*/
    background: #54879d url(../img/menu-child.png) repeat-x;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
}



ul#nav li:hover > ul li a {
  float: left;
  font: bold 1.1em arial,verdana,tahoma,sans-serif;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #110000;
  margin: 0;
  padding: 0 30px 0 0;
  /*submenu contents backgound*/
  background: #54879d url(../img/menu-child.png) repeat-x;
}

ul#nav li:hover > ul li a:hover {
  color: #120000;
  text-decoration: none;
}



/*  */

#logo{
  float: right;
   position: relative;
   left: -42%;
   text-align: right;
}
