

#audio_file{
  width: 150px;
  font-size: 12px;
  margin-bottom: 15px
}


#audio_play{
  width: 400px;
  float: left;

}




  #produce{
    position: relative;
    float: right;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
  }

  #dbutton{
    position: relative;
    float: right;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    font-size: 13px;

  }


.sortable{
  list-style:none;

}

.sortable li{
  padding-bottom: 20px;
}

.imageTagGroup{
  display: none;

}

.imagelabel{
  display: none;

}

#produce-alert{
  display: none;
}


#edit-alert{
  display: none;
}

#delete-alert{
  display: none;
}

.modal-open {
    overflow: scroll;
}
