#makepro{
    position: relative;
    float: right;
    background-color: #73AD21;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#makepro:hover, #makepro:active{
   color: #000000
}



#question_type{
  border : 2px groove black;
  width : 135px;
  height: 20px;
  font-size: 13px;
  position: relative;
  float: right;
  margin: 10px;
}

#topic{
  width: 500px;
  height: 20px;

  margin: 10px 15px 10px 15px;
  border: 2px groove black;
  position: relative;
  font-size: 13px;

}

article li{
  width: 500px;
  height: 20px;
  margin: 10px 15px;
  border: 2px groove black;
  position: relative;
  list-style:decimal;
  font-size: 13px;

}

#mbutton{
    position: relative;
    float: right;
    bottom: 45px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#dbutton{
  position: relative;
  float: right;
  bottom: 45px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;

}
#dbutton:hover, #dbutton:active{
   color: #000000
}
#mbutton:hover, #mbutton:active{
   color: #000000
}
