

#protype{
  position: relative;
  margin: 15px 35px;
  width: 200px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  border: 1px solid grey;
}
#droplist{
  width:400px;
  margin-bottom: 10px;
  height: 35px;
  margin-right: 200px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  position:inherit;
  float: right;

}

#problem{
  width: 415px;
  height: 20px;
  font-size: 12px;
  margin: 7.5px 15px;
  float: left;
  position: relative;
}

.options{
  width: 415px;
  height: 20px;
  font-size: 12px;
  margin: 3px 15px;
  float: left;
  position: relative;
}

#trans{
  margin-left: 15px;
  width: 415px;
  height: 190px;
  font-size: 12px;
}


#explain{
    margin: 5px 0px 0px 15px;
    width: 415px;
    height: 400px;
    font-size: 12px;

}

#dbutton:hover, #dbutton:active{
   color: #000000
}
#produce:hover, #produce:active{
   color: #000000
}

#checkbox{
  border : 1px groove grey;
  height: 20px;
  width: 419px;
  font-size: 13px;
  position: relative;
  float: right;
  margin: 8.5px 15px
}
.box{
  margin-right: 15px;

}

#sortable{
  float: right;
  list-style:circle;
}

#sortable li{
  padding-bottom: 30px;
}
