


/*  */





#outter3{
  font-size: 0p;
  margin: 15px 30px;
  float: left;
  left: 150px;
  position: relative;
  height: 300px;
  width: 680px;
  border: 3px solid #73AD21;
}

#outter{
  font-size: 0p;
  margin: 15px 30px;
  float: left;
  left: 150px;
  position: relative;
  height: 120px;
  width: 680px;
  border: 3px solid #73AD21;
}

#outter2{
  font-size: 0p;
  margin: 15px 30px;
  float: left;
  left: 150px;
  position: relative;
  height: 400px;
  width: 680px;
  border: 3px solid #73AD21;

}


#play{
  margin: 0px 15px;
  width: 500px;
}

#l_image{
  width: 500px;
  height: 170px;
  margin: 0px 15px;
  border: 2px groove black;
  position: relative;
  text-align: left;
  font-size: 13px;
}
#text{
  width: 500px;
  height: 80px;
  overflow-y: scroll;
  margin: 10px 15px 10px 15px;
  border: 2px groove black;
  position: relative;
  font-size: 13px;

}
