#mainbody{
  margin: 15px 30px;
  width :900px;
  height: 760px;
  border: 2px groove grey;

}
#upper{
  border-bottom: 1px groove grey;
  height: 120px;
}
#protype{
  position: relative;
  margin: 15px 35px;
  width: 200px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  border: 1px solid grey;
}
#droplist{
  width:400px;
  margin-bottom: 10px;
  height: 35px;
  margin-right: 200px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  position:inherit;
  float: right;

}
#middle_left{
  position: absolute;
  border-right: 1px groove grey;
  width: 450px;
  height: 665px;
  margin-bottom: 15px
}

.problem{
  width: 415px;
  height: 60px;
  font-size: 12px;
  margin: 7.5px 15px;
  float: left;
  position: relative;
}
.reading{
  width: 415px;
  height: 250px;
  font-size: 12px;
  margin: 7.5px 15px;
  float: left;
  position: relative;
}


#file{
  width: 200px;
  margin: 15px 0px 10px 15px;
  font-size: 16px;
}
#upload{
  font-size: 16px;
  left: 15px;
}

#aud{
  float: left;
  margin: 10px 10px 0px 20px;
}
#image{
    margin-left: 15px;
    width: 420px;
    height: 400px;
    font-size: 12px;
}
.text{
  margin-left: 15px;
  width: 415px;
  height: 400px;
  font-size: 12px;
}
#middle_right{
  position: absolute;
  left : 490px;
  border-right: 1px groove grey;
  width: 450px;
  height: 665px;
}

#trans{
  margin-left: 15px;
  margin-top: 10px;
  width: 415px;
  height: 190px;
  font-size: 12px;
}

#produce{
  position: relative;
  top : 36px;
  float: right;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  font-size: 13px;
  margin-left: 10px;
}

#dbutton{
  position: relative;
  float: right;
  top : 36px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  font-size: 13px;

}
#dbutton:hover, #dbutton:active{
   color: #000000
}
#produce:hover, #produce:active{
   color: #000000
}
