header
  a(href="/reading")
    img(alt='학교로고' width='200' height='100')
    img(src="http://tech1650.dothome.co.kr/wp-content/uploads/2014/11/%EC%9D%B4%EB%AF%B8%EC%A7%80%EB%B3%B4%EC%B9%B44.png" alt="회사로고" width="300" height="90" id="logo")
  div(id = "wrap")
    ul(id="nav")
      li
        a(href="#") 학생 관리
      li
        a(href="#") 문제 관리
          ul
            li
              a(href="/reading") Reading
            li
              a(href="/listening/set") Listening

      li
        a(href="#") 시험 관리
          ul
            li
              a(href="/reading/exam") Reading
            li
              a(href="/listening/exam") Listening
      li
        a(href="#") 수행 평가
          ul
            li
              a(href="#") #        
            li
              a(href="3") #



      li
        a(href="#") 점수 관리
